<div class="modal fade" id="detail_employee" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modal_header_color">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete</h4>
      </div>
      <div class="modal-body">
        <div class="row margin_both">
          <div class="col-md-12">
            <div class="row form-group text-center">
              <span>Are you sure you want to edit</span>
            </div>
            <div class="row form-group">
              <div class="text-center">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger"  data-dismiss="modal">Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
